#container {
    width: 400px;
    margin: 0 auto;
    height: 600px;
}

#speed {
    height: 40%;
}

#speed > * {
    float: left;
    width: 20%;
    height: 100%;
}

#sound {
    display: block;
    width: 100%;
    height: 20%;
}

#play {
    display: block;
    width: 100%;
    height: 40%;
}
